.loan-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.loan-list-container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .loan-list-container p {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
  }
  