.search-field {
	width: 30vw;
}

.loan-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1b325f;
	border: 1px solid #9cc4e4;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1.2rem;
	margin: 2rem auto;
	max-width: 400px;
	list-style: none;
}

.loan-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1b325f;
	border: 1px solid #9cc4e4;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1.2rem;
	margin: .2rem auto;
	max-width: 400px;
	list-style: none;
}

.loan-list .loan-user {
	font-size: 1.5rem;
}
